language: node_js
branches:
  except:
    - production

jobs:
  include:
  - name: "Node.js 10.x"
    node_js: 10
    env: PORT=3000 TEST_USERID=0000000000000000
  - name: "Node.js 12.x"
    node_js: 12
    env: PORT=3001 TEST_USERID=0000000000000001

script:
  - npm run commitlint

git:
  quiet: true
