
name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CI: true
  PORT: 3000
  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
  APP_SECRET: ${{ secrets.APP_SECRET }}
  VALIDATION_TOKEN: ${{ secrets.VALIDATION_TOKEN }}
  APP_ID: ${{ secrets.APP_ID }}
  PAGE_ID: ${{ secrets.PAGE_ID }}
  PROXIES: ${{ secrets.PROXIES }}
  SERVER: ${{ secrets.SERVER }}
  USERNAME: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}
  DATABASE: ${{ secrets.DATABASE }}

jobs:
  nodejs_10:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run commitlint
    - run: npm test
      env:
        TEST_USERID: '0000000000000001'

  nodejs_12:
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run commitlint
    - run: npm test
      env:
        TEST_USERID: '0000000000000002'
